USE [master]
GO
/****** Object:  Database [WebProducts]    Script Date: 13-Sep-18 17:33:24 ******/
CREATE DATABASE [WebProducts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebProducts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WebProducts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebProducts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WebProducts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebProducts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebProducts]
GO
USE [WebProducts]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13-Sep-18 17:33:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](max) NOT NULL,
	[opis] [nvarchar](max) NOT NULL,
	[kategorija] [nvarchar](max) NOT NULL,
	[proizvodjac] [nvarchar](max) NOT NULL,
	[dobavljac] [nvarchar](max) NOT NULL,
	[cena] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [naziv], [opis], [kategorija], [proizvodjac], [dobavljac], [cena]) VALUES (2, N'Patike', N'Kozne patike', N'Obuca', N'Adidas', N'SportExtra', N'2000')
INSERT [dbo].[Products] ([Id], [naziv], [opis], [kategorija], [proizvodjac], [dobavljac], [cena]) VALUES (3, N'Majica', N'Pamucna majica', N'Odeca', N'Nike', N'SpotExtra', N'500')
INSERT [dbo].[Products] ([Id], [naziv], [opis], [kategorija], [proizvodjac], [dobavljac], [cena]) VALUES (4, N'Jakna', N'Kozna Jakna', N'Odeca', N'Adidas', N'SportExtra', N'3000')
SET IDENTITY_INSERT [dbo].[Products] OFF
USE [master]
GO
